# Server Port
PORT=8080

# Security
SESSION_SECRET=event-checkin-secure-random-secret-key-2026
ORGANIZER_PASSWORD=welcome123

# Database (Neon PostgreSQL connection string)
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-example.us-east-2.aws.neon.tech/neondb?sslmode=require
